@media (max-width: 640px) {
  .mark {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    z-index: 999;
  }

  .main {
    width: 100%!important;
  }

  #main_container {
    margin-bottom: 20px!important;
  }

  #nav_container {
    display: none!important;
  }

  #aside_left {
    display: none;
  }

  #aside_right {
    display: none;
  }

  #main_body {
    width: 100%;
    border: 0!important;
    margin-left: 0!important;
    overflow: hidden;
  }

  .search-btn {
    display: none!important;
  }

  .order-servent {
    display: none!important;
  }

  .form-container {
    display: block!important;
    width: 100%!important;
    margin-bottom: 0.3rem;
  }

  .main .nav .nav_list {
    display: none;
  }

  #header {
    background: #e6eaeb;
    /* margin-left: 170px; */
  }

  #header .icon-caidan {
    z-index: 1000;
  }

  .header .main .right {
    display: none;
  }

  .header .main .left > a {
    position: absolute;
    left: 45%;
    transform: translateX(-55%);
  }

  .header .left i {
    display: block!important;
  }

  .header .main .left a {
    color: #444;
  }

  .nav {
    margin-top: -1.0625rem!important;
  }
}

@media (max-width:760px) and (min-width: 640px) {
  .main {
    width: 99%!important;
  }

  #aside_left {
    display: none;
  }

  #aside_right {
    display: none;
  }
  
  .main .nav .nav_list {
    display: none;
  }
  .search-btn {
    display: none!important;
  }
  .order-servent {
    display: none!important;
  }
  .form-container {
    display: block!important;
    width: 100%!important;
    margin-bottom: 0.3rem;
  }

  .header .main .right {
    display: none;
  }

  .header .main .left {
    margin-left: 40%;
  }
}

@media (max-width:1000px) and (min-width:760px) {
  html {
    font-size: 13px!important;
  }
  .main {
    width: 96%!important;
  }
  #aside_left {
    width: 19%!important;
  }
  #aside_right {
    display: none;
  }
  #main_body {
    width: 79.5%!important;
    float: right;
  }
  .search-btn {
    display: none!important;
  }
  .order-servent {
    display: none!important;
  }
  .master_task > table {
    width: 100%;
    height: 332px;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    vertical-align: middle;
  }
  
  .master_task > table  th {
    box-sizing: border-box;
    height: 10.84%!important;
    font-weight: 500;
    color: #5185ad;
    background: #e6eaeb;
    font-size: 14px!important;
    border: 1px solid #d7d7d7;
  }
  
  .master_task > table td {
    box-sizing: border-box;
    height: 10.84%!important;
    font-size: 14px!important;
    color: #444;
    border: 1px solid #d7d7d7;
  }

  .week_back > table {
    height: 816px!important;
  }
  
  .week_back > table  th {
    font-weight: 500;
    height: 4.53%!important;
    font-size: 14px!important;
    border: 1px solid #d7d7d7;
  }
  
  .week_back > table td {
    box-sizing: border-box;
    height: 4.53%!important;
    font-size: 14px!important;
    border: 1px solid #d7d7d7;
  }
}

@media (max-width:1220px) and (min-width:1000px) {
  html {
    font-size: 13px!important;
  }

  #aside_left {
    width: 18%!important;
  }

  #main_body {
    width: 55%!important;
  }
}

@media (max-width:1700px) and (min-width:1220px) {
  html {
    font-size: 16px!important;
  }
}

@media (min-width:1700px) {
  html {
    font-size: 18px!important;
  }
}
/* ------------------------------------------------------------------------------------------------ */
html, body {
  width: 100%;
}

.main {
  width: 75rem;
  margin: 0 auto;
}

#main_container {
  width: 100%;
  margin-bottom: 3.125rem;
}

.aside_menu {
  position: absolute;
  background-color: #333333;
  width: 170px;
  height: 100%;
  left: -170px;
  overflow: auto;
  transition: all 0.3s;
  z-index: 1000;
}

.aside_menu .menu_container ul {
  position: relative;
  
}

.aside_menu .menu_container li > a {
  display: block;
  width: 140px;
  height: 20px;
  color: #ccc;
  font-size: 18px;
  padding: 10px 15px;
}

/* ------------------------------------------------------------------------------------------------- */

/* header start */
.header {
  width: 100%;
  height: 40px;
  background: #444444;
  position: relative;
  transition: all 0.3s;
}

.main .left, .main .right {
  float: left;
  height: 40px;
  line-height: 40px;
}

.main .left:hover {
  cursor: pointer;
}

.header .left i {
  position: absolute;
  display: none;
  width: 50px;
  height: 100%;
  left: -5px;
  text-align: center;
  line-height: 40px;
  font-style: normal;
  font-size: 26px;
  color: #555;
}

.main .left a {
  font-size: 1.125rem;
  color: #fff;
  margin-left: 20px;
}

.main .right {
  float: right;
}

.main .right .login,.main .right .register {
  display: inline-block;
  padding: 0 15px;
}

.main .right a {
  font-size: 14px;
  color: #fff;
  /* margin-right: 10px; */
}

.main .right .login:hover {
  background-color: #fff;
  cursor: pointer;
}

.main .right .login:hover a {
  color: #444444;
}

.main .right .register:hover {
  background-color: #fff;
  cursor: pointer;
}

.main .right .register:hover a {
  color: #444444;
}
/* header end*/

/* -------------------------------------------------------------------------------------------------------- */
/* main 中心部分 */
.body {
  position: relative;
  width: 41.25rem;
  /* height: auto; */
  float: left;
  background-color: #fff;
  border: .0625rem solid #e6e6e6;
  box-shadow: 0 0 .0625rem rgba(0,0,0,.12);
  margin-left: .5rem;
  min-width: 300px;
}

#main_body {
  height: auto;
  /* margin-bottom: 1rem; */
}

#middle_container {
  transition: all 0.3s;
}


#section {
  margin-top: .9375rem;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;
}


/* -------------------------------------------------------------------------------------------------------------- */
/* big banner start */
.nav {
  margin-top: 18px;
}

.nav img {
  max-width: 1350px;
  width: 100%;
  height: auto;
  display: block;
}

.nav_list {
  height: 3.125rem;
  line-height: 3.125rem;
  font-size: 15px;
  background-color: #fff;
  border: 1px solid#f2f2f2;
  box-shadow: 0 0 .125rem 0 rgba(0,0,0,.12), 0 .0625rem .125rem 0 rgba(0,0,0,.24);
}

.nav_list > .item {
  position: relative;
  float: left;
  width: 7.1875rem;
  text-align: center;
}

.nav_list > .item:hover {
  cursor: pointer;
  background-color: #ecf0f1;
}

.nav_list > .item > a {
  color: #444;
}

.nav_list > .item > span {
  position: absolute;
  right: -0.0625rem;
  color: #ecf0f1;
}
/* big banner end */

/* -------------------------------------------------------------------------------------------------------------- */

/* 左侧边栏 */
#aside_left {
  width: 14.25rem;
  height: auto;
  box-sizing: border-box;
  float: left;
  background-color: #fff;
  border: .0625rem solid #e6e6e6;
  box-shadow: 0 0 .0625rem rgba(0,0,0,.4);
}

.aside_title_first {  
  display: block;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: .9375rem;
  font-weight: 700;
  color: #444;
  background-color: #f2f2f2;
  border-bottom: .0625rem solid #e6e6e6;
  padding-left: 1.25rem;
}

.aside_title_second {
  height: 1.875rem;
  line-height: 1.875rem;
  font-size: .875rem;
  border-bottom: .0625rem solid #f2f2f2;
  cursor: pointer;
  padding-left: 1.25rem;
}

.aside_title_second:hover {
  background: #f2f2f2;
}

.aside_title_second > a {
  color: #07d;
}

.aside_title_second:hover a {
  color: #444;
}

/* -------------------------------------------------------------------------------------------------------- */
/* 右侧边栏 */
#aside_right {
  width: 18rem;
  height: auto;
  float: right;
  box-shadow: 0 0 .0625rem rgba(0,0,0,.4);
  background-color: #fff;
  border: .0625rem solid #e6e6e6;
}

.aside_right_top {
  width: 90%;
  height: 7.5rem;
  margin: 0 auto;
  border-bottom: .0625rem solid #f2f2f2;
}

.top_left, .top_right {
  float: left;
}

.top_left img {
  display: block;
  width: 6.25rem;
  height: 6.25rem;
  margin-top: .625rem;
}

.top_right .icon .star {
  display: block;
  width: 4.75rem;
  max-width: 76px;
  height: .8125rem;
  margin: .75rem 0 0 .625rem;
  background: url(../img/index/aside_right/sslc_pg.png) no-repeat;
  background-position: -99px -160px;/*------------------------------------------------------------------------*/
}

.top_right .type {
  font-size: .75rem;
  color: #555;
  margin: .875rem 0 0 .625rem;
}

.top_right .official a {
  display: block;
  width: 8.75rem;
  height: 1.875rem;
  line-height: 1.875rem;
  background-color: #00a8e6;
  color: #fff;
  font-size: .875rem;
  text-align: center;
  border-radius: .25rem;
  margin: .75rem 0 0 .625rem;
}

.aside_right .aside_info {
  width: 90%;
  height: 1.75rem;
  line-height: 1.75rem;
  border-bottom: .0625rem solid #f2f2f2;
  margin: 0 auto;
}

.aside_right .aside_info > span:first-child {
  color: #444;
  font-size: .875rem;
  padding: 0 .9375rem;
}

.aside_right .aside_info a {
  color: #07d;
  font-size: .875rem;
  margin-left: 3.75rem;
}

.aside_right .download_info {
  box-sizing: border-box;
  width: 16.75rem;
  height: 5.625rem;
  overflow: hidden;
  margin: 0 auto;
  line-height: 1.25rem;
  padding: .625rem;
  font-size: .875rem;
  color: #444;
  text-indent: 2em;
}

.version_container {
  margin-top: 1.5625rem;
}

.version_container .version_info {
  margin: .75rem 0;
}

.version_container .version_info .title {
  text-align: center;
  font-weight: normal;
  font-size: .875rem;
  color: #444;
}

.version_container .version_info .version_download {
  display: flex;
  justify-content: space-between;
  padding: 0 1.625rem;
  margin-top: .375rem;
}

.version_container .version_info a {
  width: 7.125rem;
  height: 1.875rem;
  line-height: 1.875rem;
  display: inline-block;
  cursor: pointer;
  border-radius: .3125rem;
}

.version_container .version_info a:first-child {
  background-color: #00a8e6;
}

.version_container .version_info a:last-child {
  background-color: #8cc14c;
}

.version_container .version_info a > i {
  margin: 0 2rem;
  font-style: normal;
  color: #fff;
  font-size: .875rem;
}

/* servant */

.new_add .new_servant .title {
  width: 100%;
  height: 2.8125rem;
  line-height: 2.8125rem;
  font-size: .9375rem;
  color: #444;
  background-color: #f2f2f2;
  border-bottom: .0625rem solid #e6e6e6;
}

.new_add .new_servant .title span {
  position: relative;
  left: 1.25rem;
}

.new_add .new_servant .servant_container {
  overflow: hidden;
  margin: .125rem 0 0 .625rem;
}

.new_add .new_servant .servant_item {
  width: 33.33%;
  height: 5.625rem;
  float: left;
  margin: .625rem 0;
}

.new_add .new_servant .servant_item img {
  width: 5.18625rem;
  height: 5.671875rem;
}

.new_add .new_servant .tag_item {
  text-align: center;
  float: left;
  font-size: .875rem;
  /* margin: 5px 0 20px 10px; */
}

.new_servant .hot_tag > ul {
  position: relative;
  overflow: hidden;
  padding: .3125rem .375rem;
}

.hot_tag .tag_item > a {
  display: inline-block;
  padding: .5rem .75rem;
  cursor: pointer;
  color: #2d7091;
}

.new_add .new_servant .tag_item > a:hover {
  text-decoration: underline!important;
}

/* ---------------------------------------------------add more -----------------------------*/
.add-more, .mobile-add-more {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 14px;
  border-radius: 5px;
  border: 1px solid #999;
  font-size: 14px;
  margin: 6px 0;
  cursor: pointer;
  background-color: #fffbfb;
  color: #666;  
}